<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://msghandler.suis.admin.ch/xmlns/config config.xsd"
        xmlns="http://msghandler.suis.admin.ch/xmlns/config"
        version="3.1">

	<sedexAdapter>
		<participantId>7-4-1</participantId>
		<inboxDir>./src/test/resources/complete/sedex/inbox</inboxDir>
		<outboxDir>./src/test/resources/complete/sedex/outbox</outboxDir>
		<receiptDir>./src/test/resources/complete/sedex/receipts</receiptDir>
		<sentDir>./src/test/resources/complete/sedex/sent</sentDir>
	</sedexAdapter>

	<messageHandler>
		<!-- In diesem Pfad müssen die MH Basis-Verzeichnisse sein: corrupted, tmp, unkown, etc. -->
		<workingDir dirPath="./src/test/resources/complete/mh-multi/install-dir/workingDir"/>
		<!-- Wo starten relative Pfade -->
		<baseDir dirPath="./src/test/resources/complete/mh-multi/base-path"/>
		<!--  wie oft wird die sedex inbox geprüft -->
		<sedexInboxDirCheck cron="0/5 * * * * ?" />
		<!--  wie oft wird das sedex receipts directoty geprüft -->
		<sedexReceiptDirCheck cron="0/5 * * * * ?" />
		<!-- jede *outbox kann Wert überschreiben -->
		<defaultOutboxCheck cron="0/5 * * * * ?" />
		<webserviceInterface host="localhost" port="18080"/>
		<statusDatabase dirPath="./src/test/resources/complete/DB" dataHoldTimeInDays="2" resend="true"/>
		<localRecipients>
			<localRecipient recipientId="7-4-2" msgTypes="10003" />
			<localRecipient recipientId="7-4-3" msgTypes="10003" />
			<localRecipient recipientId="7-4-4" msgTypes="10003" />
		</localRecipients>
		<protocol createPerMessageProtocols="true"/>
	</messageHandler>
    
	<nativeApp participantId="7-4-2" >
		<outbox dirPath="nativeApp1/outbox" msgType="10003" cron="0/5 * * * * ?"> 
			<recipientIdResolver filePath="recipientIdResolver.groovy" method="resolve"/>	
		</outbox>
		<inbox dirPath="nativeApp1/inbox" msgTypes="10003"/>
	</nativeApp>

	<transparentApp participantId="7-4-3">    
		<outbox dirPath="transApp1/outbox"/>
		<inbox dirPath="transApp1/inbox" msgTypes="10003" />
		<receipts dirPath="transApp1/receipts" msgTypes="10003"/>
	</transparentApp>

	<transparentApp participantId="7-4-4">    
		<outbox dirPath="transApp2/outbox"/>
		<inbox dirPath="transApp2/inbox" msgTypes="10003" />
		<receipts dirPath="transApp2/receipts" msgTypes="10003"/>
	</transparentApp>  
</config>
