# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven
# Uses a Maven cache to reduce traffic to Maven Central and speed up the build, see: https://github.com/marketplace/actions/maven-cache

# We must use -DskipTests because we have no access to Gina from GitHub.

name: CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '15 3 * * WED'

jobs:
  build-and-sonar:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up JDK 8
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Restore Maven cache
      uses: skjolber/maven-cache-github-action@v1
      with:
        step: restore
    - name: Install dependencies locally
      run: mvn clean
    - name: Build and analyze with Sonar
      run: mvn -B -U verify sonar:sonar -DskipTests -Dsonar.host.url=https://sonarcloud.io -Dsonar.organization=etat-de-geneve-github -Dsonar.projectKey=republique-et-canton-de-geneve_sedex-Message-Handler
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    - name: Save Maven cache
      uses: skjolber/maven-cache-github-action@v1
      with:
        step: save
